$shadow: 0px 10px 0px #f5bd3f;
$white: #ffffff;
$violet: #9c69e2;
$light-red: #f063b8;
$dark-blue: #212353;
$yellow: #ffc84d;
$light-yellow: #fff3d7;
$dark-yellow: #eeaa12;
$black: #000000;
$dark-gray: #4b5d68;

$tablet: 992px;
$smartphones: 320px;
